@import url('https://fonts.googleapis.com/css2?family=Itallianno&family=Radley:ital@0;1&display=swap');

:root {
    /* Colores primarios */
    --color-chocolate: #593831;
    --color-crema-claro: #f9f3ec;
    --color-petroleo: #4F7B8C;

    /* Colores secundarios */
    --color-blanco: #fffdfb;
    --color-arena: #D9BCA3;
    --color-negro: #000000;

    /* Tipografías */
    --font-titulos: 'Itallianno', cursive;
    --font-cuerpo: 'Radley', serif;

    /* Tamaños de fuentes */
    --fs-h1: 34px;      /* Rango 32-36px */
    --fs-h2-h3: 26px;   /* Rango 24-28px */
    --fs-parrafo: 17px; /* Rango 16-18px */
    --fs-secundario: 15px; /* Rango 14-16px */
    --fs-botones: 16px; 
}

body {
    background-color: var(--color-blanco);
    color: var(--color-chocolate);
    font-family: var(--font-cuerpo);
    font-size: var(--fs-parrafo);
}

h1 {
    font-family: var(--font-titulos);
    font-size: var(--fs-h1);
    color: var(--color-petroleo);
}

.navbar {
    background-color: var(--color-petroleo);
}

.btn-primary {
    background-color: var(--color-chocolate);
    border-color: var(--color-chocolate);
    font-size: var(--fs-botones);
}

footer {
    background-color: var(--color-chocolate);
    color: var(--color-crema-claro);
}

main {
    min-height: 90vh;
}